/** 
* Main styles for index.html and associated pages 
**/

h1 {
    color: black !important;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif !important;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px;
}

#grpgLogo {
    width: 104px;
    height: 142px;
    /* margin: 110px ; */
    /* position: relative; */
    /* right: 610px; */
    /* top: 200px */
   
}

.bodyText {
    font: Verdana;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
    transition-duration: 1000ms;
}

.button {
    background-color: #aa0404;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    height: 40px;
    width: 40px;
    position: absolute;
}

.mapButton {
    border-radius: 50%;
}

#instructionsButton {
    background-color: #4CAF50;
    border: none;
    color:white;
    font-weight: bolder;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#map {

    width: 700px;
    height: 550px;
    position: relative;
    margin: auto;
    background-image: url("../images/park.PNG");
}

.buttonsContainer {

margin-bottom: 40px; 
}

#buttonOne {

    top: 270px;
    left: 160px;

}

#buttonTwo {

    top: 396px;
    left: 461px;

}

#buttonThree{
   
    top: 232px;
    left: 255px; 

}

#buttonFour{
   
    top: 287px;
    left: 320px; 

}

#buttonFive{
   
    top: 110px;
    left: 190px; 

}

.textAlign{
    /* position: relative;
    right: 368px; */
}

button:hover {
    cursor: pointer;
}

