/** 
* Main styles for index.html and associated pages 
**/

h1 {
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0px;
}

#grpgLogo {
    width: 104px;
    height: 142px;
}

#mainMap {
    width: 550px;
    height: 400px;
}

.bodyText {
    font: Verdana;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
    transition-duration: 1000ms;
}

.button {
    background-color: #aa0404;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    height: 40px;
    width: 40px;
}

.mapButton {
    border-radius: 50%;
}

.buttonfirst {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.buttonsContainer {

    /* margin-bottom: 100px; */
}